/* Общие стили */
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card-style {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Светлая тема (по умолчанию) */
body.light-mode {
  background-color: #fffaf6;
  color: #000000;
}

body.light-mode .card-style {
  background-color: #ffffff;
  color: #000;
}

body.light-mode .btn-outline-danger,
body.light-mode .btn-outline-info {
  border-color: #333;
  color: #333;
}

body.light-mode .btn-outline-danger:hover,
body.light-mode .btn-outline-info:hover {
  background-color: #f2f2f2;
}

/* Тёмная тема */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .card-style {
  background-color: #1e1e1e;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .btn-outline-danger,
body.dark-mode .btn-outline-info {
  color: #ffffff;
  border-color: #888888;
}

body.dark-mode .btn-outline-danger:hover,
body.dark-mode .btn-outline-info:hover {
  background-color: #444444;
  color: #fff;
}



#toggleTheme {
  transition: background-color 0.3s ease, color 0.3s ease;
}


body.light-mode #toggleTheme {
  background-color: transparent;
  color: #212529;
  border-color: #212529;
}


body.dark-mode #toggleTheme {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}



